<td class="day">
    <div class="cell">
      [%- FOR day IN events.$year.$season.$week.$day -%]
        <span title="[%- day.text -%]">[%- day.$display -%]</span>
        <BR />
      [%- END -%]
      &nbsp;
    </div>
</td>
