<h1 class="center">
    Week [% week %]
    of <a href="/[% year %]/[% season + 1 %]">[% seasons.$season %]</a>
    of the year
    <a href="/[% year %]">[% year %]</a>
</h1>
[%- include datenav.tt -%]
<div class="calendar">
    <table class="calendar week">
    [% FOREACH day IN [1..7] %]
        <tr>
            <td class="vlabel">[% y = day - 1; days.$y %]</td>
            [% include cell.tt %]
        </tr>
    [% END %]
    </table>
</div>
